.card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    width: 280px;
}

.links {
    margin-top: 1rem;
}

.links a {
    text-decoration: none;
    color: var(--accent);
}

.links a:hover {
    text-decoration: underline;
    color: var(--accent-h);
}